/backup
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/log
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/installed
/storage/debugbar/*
/storage/framework/laravel-excel/
/storage/framework/cache/*
/storage/framework/views/*
/storage/framework/sessions/*
grumphp.yml
/bootstrap/cache/*
/storage/reviewed
/storage/fonts/installed-fonts.json
/storage/uploads/sample/data.csv
*.zip